$('select[name="application[appeal_type]"]').append('<option value="' + '<%= @appeal_type.id %>' + '">' + '<%= @appeal_type.name %>' + '</option>');
$('span[data-name="appeal_type"]').editable('option','source',jQuery.parseJSON('<%= raw @appeal_types %>'));

