%li{'data-id' => "#{decision.id}"}
  %span{ class: 'edit_decision_type', 'data-name' => 'name', 'data-resource' => 'decision', 'data-type' => 'text', 'data-pk' => "#{decision.id}", 'data-url' => '/decisions/update/' + decision.id, 'data-emptytext' => 'укажите название для типового решения...' }
    = decision.name

:javascript

  $(document).ready(function() {
    $.fn.editable.defaults.mode = 'popup';
    $.fn.editable.defaults.ajaxOptions = {type: "PUT"};

    $('.edit_decision_type').editable();

  })