= content_for :header do
  Обращения граждан

.col-xs-12.col-md-2
  - if current_user.has_role?(:secretary) || current_user.has_role?(:admin)
    = button_to 'Создать обращение', new_application_path, :class => 'btn btn-primary btn-sm', :method => :get
.col-xs-12.col-md-10
  = render :partial => 'search'

#search_results
  = render :partial => 'search_results', :locals => { applications: @applications }



