%nav.navbar.navbar-default
  / Brand and toggle get grouped for better mobile display
  .navbar-header
    %button.navbar-toggle{"data-target" => "#navbarCollapse", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    .navbar-brand{:style => 'color: white;'}
      = yield :header
  / Collection of nav links and other content for toggling
  #navbar-main.navbar-collapse.collapse
    -#%ul.nav.navbar-nav
    -#  %li
    -#    %a{:href => "#"} Profile
    -#  %li
    -#    %a{:href => "#"} Messages
    %ul.nav.navbar-nav.navbar-right
      - if current_user
        - if current_user.has_role?(:admin)
          %li.dropdown
            %a.dropdown-toggle{"href" => "#", "data-toggle" => "dropdown"}
              %span.glyphicon.glyphicon-user
              Админ
              %span.caret
            %ul.dropdown-menu{'role' => "menu"}
              %li
                = link_to 'Пользователи', users_path
              %li
                = link_to 'Обращения граждан', root_path
        - elsif current_user.has_role?(:secretary)
          %li
            %a{:style => 'pointer-events:none;'}
              %span.glyphicon.glyphicon-user
              Секретарь
        - elsif current_user.has_role?(:minister)
          %li
            %a{:style => 'pointer-events:none;'}
              %span.glyphicon.glyphicon-user
              Министр
      %li
        = link_to destroy_user_session_path, method: :delete do
          %span.glyphicon.glyphicon-log-out
          Выход



